.secret {
    display: none !important; 
}

.recall-disabled-link {
    pointer-events: none;
    text-decoration: none;
    cursor: default;
    color: gray !important;
}

a {
    text-decoration: underline;
}

a:visited {
    color: purple
}

.recall-show:visited {
    color: #0088cc;
}

#imprint {
    position:absolute;
    bottom: 0;
    height: 2em;
}

#imprint .a-local {
    color: #0088cc;
}